{# just column formatter. Copy this multiple times to add multiple columns formatters to a single file#}
<div column_formatter='{{dtid}}_{{forfield is defined ? forfield : '_noteset_'}}'>
{% block format_body %}

{% endblock %}
</div>