{% import "forms/macros/crud-edit.html.twig" as crudEdit %}
{% import "forms/macros/show-field.html.twig" as _sf %}
{% set crudformdiv = 'crudform_' ~ dtid ~ '_{row.id}' %}
<div column_formatter='{{dtid}}_{{forfield is defined ? forfield : '_noteset_'}}'>
{% block format_body %}

{% endblock %}
{% block crud_divs %}
    <div id="alerts-{{crudformdiv}}"></div>
    <div id='{{crudformdiv}}'></div>
{% endblock %}
</div>