.dataTables_filter,
.dataTables_filter label,
.dataTables_filter input {
  width: 100% !important;
}

.dataTables_filter input {
  text-align: center;
}

.dataTables_length {
  float: right !important;
}

.dataTable .odd {
  background-color: #e1e1e1 !important;
}

.dt_column .uf_message p {
  margin: 1px;
  display: inline-block;
}

.dt_column .uf_message .uf_message_head,
.dt_column .uf_message .uf_message_footer {
  display: none;
}

.datatable-filters select {
  /*  display: inline-block;
  width: auto !important;
  */
}

.datatable-filters .select2-container--default {
  /*
  display: inline-block;
  width: auto !important;
  */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: inherit;
  margin-left: auto;
}