.dataTable .dt-head tr {
    background: #337ab7;
    color: white;
}

.dataTable .dt-rowgroup {
    background-color: #d9edf7;
}

.dataTables_filter,
.dataTables_filter label,
.dataTables_filter input {
    width: 100% !important;
}

.dataTables_filter input {
    text-align: center;
}

.dataTables_length {
    float: right !important;
}

.table-striped.dataTable .odd {
    background-color: #e1e1e1 !important;
}

.table-striped.dataTable .even {
    background-color: #f9f9f9 !important;
}

.dt_column .uf_message p {
    margin: 1px;
    display: inline-block;
}

.dt_column .uf_message .uf_message_head,
.dt_column .uf_message .uf_message_footer {
    display: none;
}

.datatable-filters select {
    /*  display: inline-block;
  width: auto !important;
  */
}

.datatable-filters .select2-container--default {
    /*
  display: inline-block;
  width: auto !important;
  */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: inherit;
    margin-left: auto;
}

table.dt-formatter {
    margin: 0px;
}

table.dt-formatter td {
    padding: 2px;
}

.table.dt-formatter .input-base-select {
    padding: 0px;
    margin: 0px;
}

.dt-helprow-top ul,
.dt-helprow-top p,
.cr-helprow-top ul,
.cr-helprow-top p {
    display: inline;
}

th.dt-helprow-top .cr-help {
    display: inline;
    float: right;
}

.dataTables_filter input {
    /*border: none;*/
    /*padding: 6px 12px;*/
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
}

.dataTables_filter .input-base-placeholder {
    padding: inherit !important;
}

.dt-head-image {
    height: 40px;
}

@media (max-width: 425px) {

    .dt-pager-row,
    .dt-page-pages,
    .dt-pager-countinfo {
        padding: 0px;
        margin: 0px;
    }


    .dt-search,
    .dt-snexpbtn,
    .dt-pagelength {
        padding: 0px;
    }

    .dt-buttons .dt-export-btn {
        margin: 7px !important;
    }

    .dataTables_length {
        margin: 7px !important;
        float: left !important;
    }
}

.dt-pager-row {
    font-size: small;
}

.dataTables_paginate .pagination>li>a {
    padding: 3px 5px !important;
}

.dt-pager-countinfo {
    float: left;
}

.dt-editing tr {
    background: orange !important;
}

th.dt_column {
    background-image: none !important;
    padding: 10px 5px !important;
    text-align: center;
}

.dt-quickedit {
    /*border: 1px solid #d2d6de; 
    padding: 5px;*/
    width: 100%;
}

.dt-quickedit-control {
    background: white !important;
    color: black;
}

.dt-pulldown-header {
    position: absolute;
    z-index: 900;
    left: 0;
    right: 0;
    top: 0;
}

.dt-pagerow-body,
.dt-pagerow-head {
    background-color: #f9f9f9 !important;
}

.dt-pagerow-body {
    max-height: 1200px;
    overflow: scroll;
}

div.dt-button-collection {
    right: 0px !important;
    left: auto !important;
}

.dataTable.show_dt_detail .sh-detail-blk {
    display:initial;
}

.dataTable.hide_dt_detail .sh-detail-blk {
    display:none;
}

.dt-control-sidebar {
    position: absolute;
    margin-top: 50px;
    z-index: 1010;
}
.dt-control-sidebar-bg, .dt-control-sidebar {
    top: 0;
    right: -330px;
    width: 330px;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}

.dt-control-sidebar > .tab-content {
  padding: 10px 15px;
}
.dt-control-sidebar.dt-control-sidebar-open,
.dt-control-sidebar.dt-control-sidebar-open + .dt-control-sidebar-bg {
  left: 0;
}
.dt-control-sidebar-open .dt-control-sidebar-bg,
.dt-control-sidebar-open .dt-control-sidebar {
  left: 0;
}
@media (min-width: 768px) {
  .dt-control-sidebar-open .content-wrapper,
  .dt-control-sidebar-open .right-side,
  .dt-control-sidebar-open .main-footer {
    margin-right: 230px;
  }
}
.fixed .dt-control-sidebar {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
}

.dt-control-sidebar-heading {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 10px;
}
.dt-control-sidebar-subheading {
  display: block;
  font-weight: 400;
  font-size: 14px;
}

.corner-delete {
  width: 0;
  height: 0;
  border-top: 15px solid #ffcc00;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  position:absolute;
  right:0;
}

.corner {
    width: 0;
    height: 0;
    border-top: 45px solid #ffcc00;
    border-bottom: 45px solid transparent;
    border-left: 45px solid transparent;
    position: relative;
    float: right;
}

.corner span {
    position: absolute;
    top: -35px;
    width: 40px;
    left: -35px;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    transform: rotate(45deg);
    display: block;
}

.corner-25 {
    width: 0;
    height: 0;
    border-top: 25px solid red; /* #ffcc00;*/
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    position: relative;
    float: right;
}

.corner-25 span {
    position: absolute;
    top: -24px;
    width: 40px;
    left: -27px;
    text-align: center;
    transform: rotate(45deg);
    display: block;
    color:white;
}
/*
.cddatatable-topbox .dt-search {
    padding: 0px;
}

.cddatatable-topbox .dt-pagelength,
.cddatatable-topbox .dt-snexpbtn {
    padding: 0px;
}
*/