.dataTable .dt-head tr {
    background: #337ab7;
    color: white;
}

.dataTable .dt-rowgroup {
    background-color: #d9edf7;
}

.dataTables_filter,
.dataTables_filter label,
.dataTables_filter input {
    width: 100% !important;
}

.dataTables_filter input {
    text-align: center;
}

.dataTables_length {
    float: right !important;
}

.table-striped.dataTable .odd {
    background-color: #e1e1e1 !important;
}

.table-striped.dataTable .even {
    background-color: #f9f9f9 !important;
}

.dt_column .uf_message p {
    margin: 1px;
    display: inline-block;
}

.dt_column .uf_message .uf_message_head,
.dt_column .uf_message .uf_message_footer {
    display: none;
}

.datatable-filters select {
    /*  display: inline-block;
  width: auto !important;
  */
}

.datatable-filters .select2-container--default {
    /*
  display: inline-block;
  width: auto !important;
  */
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: inherit;
    margin-left: auto;
}

table.dt-formatter {
    margin: 0px;
}

table.dt-formatter td {
    padding: 2px;
}

.table.dt-formatter .input-base-select {
    padding: 0px;
    margin: 0px;
}

.dt-helprow-top ul,
.dt-helprow-top p,
.cr-helprow-top ul,
.cr-helprow-top p {
    display: inline;
}

th.dt-helprow-top .cr-help {
    display: inline;
    float: right;
}

.dataTables_filter input {
    /*border: none;*/
    /*padding: 6px 12px;*/
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
}

.dataTables_filter .input-base-placeholder {
    padding: inherit !important;
}

.dt-head-image {
    height: 40px;
}

@media (max-width: 425px) {

    .dt-pager-row,
    .dt-page-pages,
    .dt-pager-countinfo {
        padding: 0px;
        margin: 0px;
    }


    .dt-search,
    .dt-snexpbtn,
    .dt-pagelength {
        padding: 0px;
    }

    .dt-buttons .dt-export-btn {
        margin: 7px !important;
    }

    .dataTables_length {
        margin: 7px !important;
        float: left !important;
    }
}

.dt-pager-row {
    font-size: small;
}

.dataTables_paginate .pagination>li>a {
    padding: 3px 5px !important;
}

.dt-pager-countinfo {
    float: left;
}

.dt-editing tr {
    background: orange !important;
}

th.dt_column {
    background-image: none !important;
    padding: 10px 5px !important;
    text-align: center;
}

.dt-quickedit {
    /*border: 1px solid #d2d6de; 
    padding: 5px;*/
    width: 100%;
}

.dt-quickedit-control {
    background: white !important;
    color: black;
}

.dt-pulldown-header {
    position: absolute;
    z-index: 900;
    left: 0;
    right: 0;
    top: 0;
}

.dt-pagerow-body,
.dt-pagerow-head {
    background-color: #f9f9f9 !important;
}

/*
.cddatatable-topbox .dt-search {
    padding: 0px;
}

.cddatatable-topbox .dt-pagelength,
.cddatatable-topbox .dt-snexpbtn {
    padding: 0px;
}
*/